/*
COLOR PALETTE
Black: #001A23
Dark Greyish Green: #31493C
Light Greyish Green: #7A9E7E
Mint: #B3EFB2
Greyish White: #E8F1F2
*/

* {
    padding: 0;
    margin: 0;
    font-family: "roboto";
}

body {
  text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

section {
    text-align: center;
}

.header {
  width: 100%;
  min-height: 10vh;
}

.logo {
  margin-left: 40px;
  margin-top: 20px;
  float: left;
}

.menu {
  width:200px;
  height: 20px;
  display: block;
  float: right;
  margin: 20px 0 0 0;
}

.menu a {
  display: block;
  float: left;
  padding-right: 20px;
}


.main {
  justify-content: center;
  align-items: center;
}

.game_title {
  width: 100%;
  height: 20px;
  display: inline-block;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top:50px;
  background-color: #F8F8F8;
  padding: 20px;
}

div.flex {
    display: flex;
    margin: 0px;
}

.col-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 600px;
    background-color: #F8F8F8;
    border-radius: 10px;
    float: left;
    text-align: center;
}

.col-right {
    display: block;
    width:35%;
    height: 600px;
    background-color: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    float: right;
}

#main_content {
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  width: 95%;
}

#main_content h2 {
  font-size: 32px;
  font-weight: bold;
  padding:20px 0;
}

button {
    background-color: #00C78C;
    border: none;
    text-align: center;
	  font-size: 15px;
    border-radius: 5px;
    margin-top:16px;
}

button:hover {
  background-color: #423FD9;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 50px auto;
}
.cell {
    !-font-family: "Permanent Marker", cursive;
    font-weight: 800;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

#chat {
    width: 100%;
    height: 65%;
    background: #ccc;
    text-align: center;
    padding: 20px 0;
}

.ingame_button {
  width: 250px;
  height: 50px;
  background: #5B58EA;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
}

.game--status {
  margin-top: 10px;
  color: #5B58EA;
}

.Wrapper{
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(22, 25px);

}


.MiddleBox{
 display: grid;
 grid-row-start: 8;
 grid-row-end: 20;
 grid-column-start: 40;
 grid-column-end: 60;
 background-color:rgb(176,224,230);
 align-items: center;
 justify-items: center;
 border: solid;
 border-color: rgb(50, 175, 255);
}

.Username{
 display: grid;
 grid-row-start: 11;
 grid-row-end: 13;
 grid-column-start: 44;
 grid-column-end: 56;
 width: 100%;
 height: 40%;
 border: solid;
 border-color:rgb(200, 200, 200);
}

.UsernameLabel{
 display: grid;
 grid-row-start: 9;
 grid-row-end: 11;
 grid-column-start: 43;
 grid-column-end: 57;
}

.Password{
 display: grid;
 grid-row-start: 15;
 grid-row-end: 17;
 grid-column-start: 44;
 grid-column-end: 56;
 width: 100%;
 height: 40%;
 border: solid;
 border-color:rgb(200, 200, 200);
}

.PasswordLabel{
 display: grid;
 grid-row-start: 13;
 grid-row-end: 15;
 grid-column-start: 43;
 grid-column-end: 57;
}

.Submit{
 display: grid;
 grid-row-start: 17;
 grid-row-end: 19;
 grid-column-start: 45;
 grid-column-end: 55;
 align-items: center;
 background-color:rgb(210, 210, 210);
 border: solid;
 border-color:rgb(190,190,190); 
}

.logo2 {
 display: grid;
 grid-row-start: 1;
 grid-column-start: 40;
 grid-column-end: 50;
 width: 200%;
 height: 175px;
}

.PasswordSU{
 display: grid;
 grid-row-start: 15;
 grid-row-end: 17;
 grid-column-start: 47;
 grid-column-end: 57;
 width: 100%;
 height: 40%;
 border: solid;
 border-color:rgb(200, 200, 200);
}

.PasswordLabelSU{
 display: grid;
 grid-row-start: 15;
 grid-column-start: 41;
}

.UsernameSU{
 display: grid;
 grid-row-start: 13;
 grid-row-end: 15;
 grid-column-start: 47;
 grid-column-end: 57;
 width: 100%;
 height: 40%;
 border: solid;
 border-color:rgb(200, 200, 200);
}

.UsernameLabelSU{
 display: grid;
 grid-row-start: 13;
 grid-column-start: 41;
}

.LastName{
 display: grid;
 grid-row-start: 11;
 grid-row-end: 13;
 grid-column-start: 47;
 grid-column-end: 57;
 width: 100%;
 height: 40%;
 border: solid;
 border-color:rgb(200, 200, 200);
}

.LastNameLabel{
 display: grid;
 grid-row-start: 11;
 grid-column-start: 42;
}


.FirstName{
 display: grid;
 grid-row-start: 9;
 grid-row-end: 11;
 grid-column-start: 47;
 grid-column-end: 57;
 width: 100%;
 height: 40%;
 border: solid;
 border-color:rgb(200, 200, 200);
}

.FirstNameLabel{
 display: grid;
 grid-row-start: 9;
 grid-column-start: 42;
}